---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Raleway", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

/*Hide things we don't use in print version*/

.presentations
{
  > .presentation
  {
    @extend .resumeitem;
    
    > .abstractholder
    {
      display: none;
      
      > .presentation-expander-label
      {
        > .downarrow
        {
          display: none;
        }
        > .uparrow
        {
          display: none;
        }
      }
      > .presentation-expander
      {
        display: none;
      }
      
    }
  }
}

.categoryholder
{
  > .category-label /*Label*/
  {
    font-size: 150%;
    > .downarrow
    {
      display: none;
    }
    > .uparrow
    {
      display: none;
    }
  }
  > .category-expander
  {
    display: none;
  } 
}

.site-footer
{
  display: none;
}

.links
{
  display: none; /*Used for site only*/
}

.hello
{
  display: none; /*Used for site only*/
}

.resumeitem
{
  border:none; /*No colored border on print version*/
}

body /*Looks nicer on page*/
{
  font-size:90%;
}

.formalheader /*Only used for print*/
{
  > .name
  {
    font-size:150%;
    text-align:center;
  }
  > .email
  {
    float:left;
  }
  > .phone
  {
    float:right;
  }
  > .twitter
  {
    float:left;
  }
  > .site
  {
    float: right;
  }
  
  margin-bottom:2em;
}
