---
layout: default
---
<div class="hello">
  <h3>This is my short resume. If you'd like to have a copy, just hit print or <a href="Brendan%20O'Connor%20-%20Resume.pdf">click here for a PDF</a>; if you'd like a full CV, <a href="/">click here</a>. My bio is on the <a href="/about/">About page</a>.</h3>
</div>

<div class="categoryholder">
  <input type="checkbox" id="experiences-all" class="category-expander">
  <label for="experiences-all" class="category-label">Experience <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category"></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category"></span></label>
  <div class="experiences category animated fadeIn">
    {% for chunk in site.data.resume.experience %}
      {% if chunk.resume == true %}
      <div class="experience {{ chunk.tags | join }}">
        <div class="title"> {{ chunk.title }}</div>
        <div class="dates">{{ chunk.dates }}</div>
        <div class="location">{{ chunk.location }}</div>
        <div class="prose">{{ chunk.prose }}</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="categoryholder">
  <input type="checkbox" id="presentations-all" class="category-expander">
  <label for="presentations-all" class="category-label">Selected Presentations <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category"></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category"></span></label>
  <div class="category presentations animated fadeIn">
    {% for chunk in site.data.resume.presentations %}
      {% if chunk.resume == true %}
      <div class="presentation {{ chunk.tags | join }}">
        <div class="title"> {{ chunk.title }}</div>
        <div class="date">{{ chunk.date | date: "%B %-d, %Y"}}</div>
        <div class="location">{{ chunk.location }} - {{ chunk.geo.properties.city }}</div>
        <div class="prose">{{ chunk.prose }}</div>
        {% if chunk.abstract %}
        <div class="abstractholder">
          <input type="checkbox" id="presentation-{{ chunk.date }}-{{ chunk.title | truncate: 5 }}" class="presentation-expander">
          <label for="presentation-{{ chunk.date }}-{{ chunk.title | truncate: 5 }}" class="presentation-expander-label">Abstract <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category"></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category"></span></label>
          <div class="abstract animated fadeIn">{{ chunk.abstract }}</div>
        </div>
        {% endif %}
        <div class="links">
        {% if chunk.url %}
          <div class="url"><a href="{{ chunk.url | uri_escape }}" title="Link to Media on {{ chunk.title }} at {{ chunk.location }}"><img class="svg" src="{{ "/images/link.svg" | prepend: site.baseurl }}" alt="Link to Media on {{ chunk.title }} at {{ chunk.location }}"></a></div>
        {% endif %}
        {% if chunk.videourl %}
          <div class="videourl"><a href="{{ chunk.videourl | uri_escape }}" title="Video of {{ chunk.title }} at {{ chunk.location }}"><img class="svg" src="{{ "/images/movie.svg" | prepend: site.baseurl }}" alt="Video of {{ chunk.title }} at {{ chunk.location }}"></a></div>
        {% endif %}
        {% if chunk.repeats %}
          {% for rep in chunk.repeats %}
            {% if rep.url %}
              <div class="url"><a href="{{ rep.url | uri_escape }}" title="Link to Media on {{ chunk.title }} at {{ rep.location }}"><img class="svg" src="{{ "/images/link.svg" | prepend: site.baseurl }}" alt="Link to Media on {{ chunk.title }} at {{ rep.location }}"></a></div>
            {% endif %}
            {% if rep.videourl %}
              <div class="videourl"><a href="{{ rep.videourl | uri_escape }}" title="Video of {{ chunk.title }} at {{ rep.location }}"><img class="svg" src="{{ "/images/movie.svg" | prepend: site.baseurl }}" alt="Video of {{ chunk.title }} at {{ rep.location }}"></a></div>
            {% endif %}
          {% endfor %}
        {% endif %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="categoryholder">
  <input type="checkbox" id="educations-all" class="category-expander">
  <label for="educations-all" class="category-label">Education <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category"></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category"></span></label>
  <div class="educations category animated fadeIn">
    {% for chunk in site.data.resume.education %}
      {% if chunk.resume == true %}
      <div class="education {{ chunk.tags | join }}">
        <div class="title"> {{ chunk.title }}</div>
        <div class="dates">{{ chunk.dates }}</div>
        <div class="location">{{ chunk.location }}</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="categoryholder">
  <input type="checkbox" id="certifications-all" class="category-expander">
  <label for="certifications-all" class="category-label">Certifications &amp; Memberships <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category"></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category"></span></label>
  <div class="certifications category animated fadeIn">
    {% for chunk in site.data.resume.certifications %}
      {% if chunk.resume == true %}
      <div class="certification {{ chunk.tags | join }}">
        <div class="title"> 
          {% if chunk.url %}
            <a href="{{ chunk.url | uri_escape }}" title="Link to Media on {{ chunk.title }} at {{ chunk.location }}">{{ chunk.title }}</a>
          {% else %}
            {{ chunk.title }}
          {% endif %}
          </div>
          <div class="date">{{ chunk.date | date: "%B %-d, %Y"}}</div>
        <div class="organization">{{ chunk.organization }}</div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

