---
layout: default
---

<div class="home">

  <div class="formalheader h-card">
    <div class="name p-name">Brendan O'Connor</div>
    <div class="email u-email">bfo@ussjoin.com</div>
    <div class="site u-url">http://ussjoin.com</div>
    <br />
    <div class="phone p-tel">406.545.0430</div>
    <div class="twitter p-nickname">@USSJoin</div>
  </div>

  <div class="hello">
    <div class="sociallinks">
      <a href="https://github.com/ussjoin/"><img class="svg" src="{{ "/images/github.svg" | prepend: site.baseurl }}" alt="GitHub" /></a><a href="https://twitter.com/ussjoin/"><img class="svg" src="{{ "/images/twitter.svg" | prepend: site.baseurl }}" alt="Twitter" /></a>
    </div>
    <h1>Hi. I'm Brendan.</h1>
    <h2>I'm a <span class="technicaltext">security researcher</span>. I'm a <span class="legaltext">lawyer</span>. My work <span class="technicallegaltext">blends both areas</span>.</h2>
    <h3>This is my short resume. If you'd like to have a copy, just hit print; if you'd like a full CV, <a href="/">click here</a>. My bio is on the <a href="/about/">About page</a>.</h3>
  </div>

  <div class="categoryholder">
    <input type="checkbox" id="educations-all" class="category-expander">
    <label for="educations-all" class="category-label">Education <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category" /></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category" /></span></label>
    <div class="educations category animated fadeIn">
      {% for chunk in site.data.resume.education %}
        {% if chunk.resume == true %}
        <div class="education {{ chunk.tags | join }}">
          <div class="dates">{{ chunk.dates }}</div>
          <div class="title"> {{ chunk.title }}</div>
          <div class="location">{{ chunk.location }}</div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div class="categoryholder">
    <input type="checkbox" id="experiences-all" class="category-expander">
    <label for="experiences-all" class="category-label">Experience <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category" /></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category" /></span></label>
    <div class="experiences category animated fadeIn">
      {% for chunk in site.data.resume.experience %}
        {% if chunk.resume == true %}
        <div class="experience {{ chunk.tags | join }}">
          <div class="dates">{{ chunk.dates }}</div>
          <div class="title"> {{ chunk.title }}</div>
          <div class="location">{{ chunk.location }}</div>
          <div class="prose">{{ chunk.prose }}</div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="categoryholder">
    <input type="checkbox" id="presentations-all" class="category-expander">
    <label for="presentations-all" class="category-label">Selected Presentations <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category" /></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category" /></span></label>
    <div class="category presentations animated fadeIn">
      {% for chunk in site.data.resume.presentations %}
        {% if chunk.resume == true %}
        <div class="presentation {{ chunk.tags | join }}">
          <div class="date">{{ chunk.date | date: "%B %-d, %Y"}}</div>
          <div class="title"> {{ chunk.title }}</div>
          <div class="location">{{ chunk.location }} - {{ chunk.geo.properties.city }}</div>
          <div class="prose">{{ chunk.prose }}</div>
          {% if chunk.abstract %}
          <div class="abstractholder">
            <input type="checkbox" id="presentation-{{ chunk.date }}-{{ chunk.title | truncate: 5 }}" class="presentation-expander">
            <label for="presentation-{{ chunk.date }}-{{ chunk.title | truncate: 5 }}" class="presentation-expander-label">Abstract <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category" /></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category" /></span></label>
            <div class="abstract animated fadeIn">{{ chunk.abstract }}</div>
          </div>
          {% endif %}
          <div class="links">
          {% if chunk.url %}
            <div class="url"><a href="{{ chunk.url }}" title="Link to Media on {{ chunk.title }} at {{ chunk.location }}"><img class="svg" src="{{ "/images/link.svg" | prepend: site.baseurl }}" alt="Link to Media on {{ chunk.title }} at {{ chunk.location }}" /></a></div>
          {% endif %}
          {% if chunk.videourl %}
            <div class="videourl"><a href="{{ chunk.videourl }}" title="Video of {{ chunk.title }} at {{ chunk.location }}"><img class="svg" src="{{ "/images/movie.svg" | prepend: site.baseurl }}" alt="Video of {{ chunk.title }} at {{ chunk.location }}" /></a></div>
            <!--<a href="{{ chunk.videourl }}" title="Video of {{ chunk.title }}"><div class="videolink"></div></a>-->
          {% endif %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div class="categoryholder">
    <input type="checkbox" id="certifications-all" class="category-expander">
    <label for="certifications-all" class="category-label">Certifications <span class="uparrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/up.svg" | prepend: site.baseurl }}" alt="Collapse Category" /></span><span class="downarrow animated fadeIn"><img class="svg" width=16 src="{{ "/images/down.svg" | prepend: site.baseurl }}" alt="Expand Category" /></span></label>
    <div class="certifications category animated fadeIn">
      {% for chunk in site.data.resume.certifications %}
        {% if chunk.resume == true %}
        <div class="certification {{ chunk.tags | join }}">
          <div class="date">{{ chunk.date }}</div>
          <div class="title"> {{ chunk.title }}</div>
          <div class="organization">{{ chunk.organization }}</div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
