<div class="formalheader h-card">
  <div class="name p-name">Brendan Francis O'Connor</div>
  <div class="email u-email">bfo@ussjoin.com</div>
  <div class="site u-url">https://ussjoin.com</div>
  <br>
  <div class="phone p-tel">406.545.0430</div>
</div>

<div class="hello">
  <div class="sociallinks">
    <a href="https://github.com/ussjoin/"><img class="svg" src="{{ "/images/github.svg" | prepend: site.baseurl }}" alt="GitHub"></a>
  </div>
  <h1>Hi. I'm Brendan Francis O'Connor.</h1>
  <h2>I'm a <span class="technicaltext">technologist</span>, and I work to build information security programs focused on everyday excellence. I'm an <span class="legaltext">attorney</span>. My work <span class="technicallegaltext">blends both areas</span>.</h2>
  <h3>If you'd like to talk to me, my email: <a href="mailto:bfo@ussjoin.com">bfo@ussjoin.com</a>. My <a href="0xB58EDA54.asc">GPG key</a> is public, though very rarely used at this point.</h3>
</div>